@tailwind base;
@tailwind components;
@tailwind utilities;


.background{
    background: #2f2841;
    box-shadow: 0px 10px 40px -8px #000000;
}

.inputBackGround{
    
    background: #514869
}

.textColor{
    color: #77ffc0;
    font-size: 2rem;
}

.textColorSmall{
    color: #77ffc0;
}



.textcolor{
   color: #514869;
}



.buttonStyle{
    box-shadow: 0px 10px 40px -12px #95f0c6;
}

.inputs{
    text-decoration: none;
    outline: none;
}

.buttonBackground{
    background: #77ffc0; ;
}

